.detail_header {
    display: flex;
    margin: 3rem auto;
    width: 85%;
    /*height: 20rem;*/
    grid-gap: 1rem;
}

.detail_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-gap: .3rem;
    padding: 0 1rem;
    /*justify-content: center;*/
}

.user_img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item_detail {
    display: flex;
    flex-direction: column;
}

.detail_status {
    display: flex;
    grid-gap: .3rem;
    align-items: center;
}

.detail_status > p {
    font-size: 14px;
    font-weight: 600;
}

.detail_desc {
    display: flex;
    flex-direction: column;
}

.detail_desc > p:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 600;
}

.detail_desc > span {
    font-size: 1rem;
}

.detail_desc > button {
    margin-top: 1rem;
    height: 2.8rem;
    font-size: 1.1rem;
    border: 1px solid royalblue;
    border-radius: 5px;
    background: transparent;
    color: royalblue;
    cursor: pointer;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-weight: 600;
    grid-gap: .3rem;
}

.detail_status > button {
    font-size: 13px;
    width: 100px;
    border: none;
    background: royalblue;
    color: white;
    height: 1.8rem;
    border-radius: 5px;
}

.detail_user {
    display: flex;
    grid-gap: .4rem;
    font-size: 1rem;
    align-items: center;
}
.detail_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail_user > p {
    display: flex;
    flex-direction: column;
}

.detail_user > p > span:nth-child(1) {
    font-weight: 600;
}

.detail_user > p > span:nth-child(2) {
    font-size: 13px;
}


.user_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail_right {
    flex: 1;
}

.product_img {
    height: 27rem;
}

.product_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.related_main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid #dfdede;
}
.related_main > h1{
    margin:  2rem 0;
}

@media screen and (max-width: 980px) {
    .detail_header {
        width: 95%;
        flex-direction: column;
    }
  .detail_left{
      padding: 0;
  }
   .related_main{
       width: 95%;
   }
}